---
title: Dayton Ruby Brigade
---

%section.home
  .row
    .twelve.columns.centered.text-center.splash

%section.join
  .row
    .ten.columns.centered
      .panel
        .row
          .nine.columns
            %input.placeholders{type: 'text', placeholder: 'Join our mailing list'}
          .two.columns
            %a.right.text-center.capitalize{:href => "#"} Submit
